/*fonts шрифт*/

@font-face {
  font-family:  'Roboto';
  src: url("../fonts/web/robotobold.woff2") format("woff2"),
      url("../fonts/web/robotobold.woff") format("woff");
      font-weight: 400;
      font-display: swap;
      font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/web/roboto.woff2") format("woff2"),
        url("../fonts/web/roboto.woff") format("woff");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/web/robotomedium.woff2") format("woff2"),
        url("../fonts/web/robotomedium.woff") format("woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}

/*variavles цвета*/

:root {
    --basic-black: #000000;
    --basic-red  : #FB565A;
    --basic-green: #00CA74;
    --basic-yellow:#EFC84A;
    --basic-gray:  #4D4D4D;
    --basic-white: #ffffff;
    --basic-gray-shining: #283136;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto',Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

}

img {
  max-width: 100%;
  height: auto;
}

/*main navigation*/

.main-header {
  background-color: #F2F2F2;
  /*background-image: url(../img/content/grey-background.png);*/
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: transparent; /*может и нет*/
}

/*.main-navigation-wrapper {
  background-color: var(--basic-white);
}*/

.site-navigation {
  list-style: none;
}


/*что  то должно быть*/


/*user navigation*/

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  text-decoration: underline;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: var(--basic-red);
  text-decoration: none;
}


/* info */

.info-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.info-list {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-gray-shining);
}

.info-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #FB565A;
  width: 240px;
  height: 50px;
}

.info-button a {
  color: var(--basic-white);
}

/*features*/

.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item h2 {
  font-size: 24px;
  line-height: 30xp;
  font-weight: 700;
}

.features-item p {
  font-weight: 400;
  color: var(--basic-gray-shining);
}


.button-red {
  font-size: 16xp;
  line-height: 18xp;
  background-color: var(--basic-red);
  width: 160px;
  height: 50px;
}

.button-red a {
  color: var(--basic-white);
}

.button-green {
  font-size: 16xp;
  line-height: 18xp;
  background-color: var(--basic-green);
  width: 160px;
  height: 50px;
}

.button-green a {
  color: var(--basic-white);
}

.button-yellow {
  font-size: 16xp;
  line-height: 18xp;
  background-color: var(--basic-yellow);
  width: 160px;
  height: 50px;
}
.button-yellow a {
  color: var(--basic-white);
}

/*index columns

.index-columns {
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}*/

/*text*/

.text h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.text p {
  color: var(--basic-gray-shining);
  font-weight: 400;
}

.text h2 {
  color:var(--basic-gray-shining);
  font-weight: 700;
}
/*news*/

.news figure {
  background-color: var(--basic-gray);
}


.news-list {
  list-style: none;
}

.news-item h1 {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.news-item p {
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray-shining);
}

.news-item h2 {
  font-size: 26px;
  line-height: 10px;
  font-weight: 700;
}

/* серые картинки*/

/*.img-grey-icon {
  position: absolute;
}
*/
.academy {
  left: 31px;
  top: 591px;
}
.borodinski {
  left: 326px;
  top: 575px;
}
.pink {
  left: 638px;
  top: 594px;
}
.mishka {
  left: 944px;
  top: 581px;
}

/* footer*/

.main-footer {
  /*background-color: #F2F2F2;*/
  background-position: 0 0;
  background-repeat: repeat;
}

.contacts a {
text-decoration: underline;
}
.contacts p {
  color: #666666;
}

.button-address {
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: underline;
}

.button-address:hover,
.button-address:focus {
  text-decoration: none;
}

.contacts-phone {
  color: #666666;
}

.footer-social ul {
  list-style: none;
}

.footer-social h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
.footer-social p {
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
/*social button*/

.social-button {
  color: #E1E1E1;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

/* modal*/

.modal {
  width: 960px;
  height: 590px;
  left: 240px;
  top: 1706px;
  color: var(--basic-black);
  background-color: #D7DCDE;
  background-image: url(../img/content/model-fon.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  text-align: center;
}

.modal h1 {
  font-size: 45px;
  line-height: 45px;
}

.modal-item {
  font-weight: 700;
  line-height: 18px;
}
.modal-input {
  color: #444444;
  font-weight: 400;
  width: 360px;
  height: 50px;

}
/*modal form*/

.modal-form input[type="text"] {
  /*text-transform: uppercase;*/
  border: 2px solid #D7DCDE;
}

.modal-input.modal-input-big {
  width: 760px;
  height: 118px;
}

.modal-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 0px;
  cursor: pointer;
}

.modal-close {
  width: 20.98px;
  height: 20.98px;
  border: 0px;
  background-image: url(../img/svg/Close.svg);
  background-color: #D7DCDE;
  cursor: pointer;
}


/*button*/

.button {
  text-decoration: underline;
}
.button:hover,
.button:focus {
  text-decoration: none;
}



/* catalog*/

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

/* parammetrs*/



.filter-range {
  color: #283136;
  text-transform: uppercase;
}

.price-controls {
   /* position: relative; */

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* .price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
} */

.price-controls input {
  /* display: inline-block; */
  text-align: center;
  width: 80px;
  height: 38px;
  background-color: #EEEEEE;
  vertical-align: top;

  border: 0px;

  cursor: pointer;
}

.range-controls {
  position: relative;
  width: 264px;
  height: 84px;

  background-color: #F2F2F2;
  margin-bottom: 0px;
}

.range-toggle {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  /* box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2); */
  cursor: pointer;
}


.range-toggle-min {
  left: 5%;
}

.range-toggle-max {
  left: 60%;
}

/* parametrs-slider */



.parametrs-slider legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.parametrs-list {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-gray-shining);
}

.parametrs-content {
  border: none;
}

.radio-input {
  width: 25px;
  height: 25px;
  mix-blend-mode: normal;
  opacity: 0.4;
  cursor: pointer;
}
.radio-input:hover {
  opacity: 0.7;
}

.checkbox-input {
  mix-blend-mode: normal;
  opacity: 0.4;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.checkbox-input:hover {
  opacity: 0.7;
}

.btn-transparent {
  border: none;
  width: 260px;
  height: 50px;
  background-color: #EEEEEE;
  text-transform: uppercase;
  cursor: pointer;

}
.btn-transparent:hover {
  background-color: #DFDFDF;
}
.btn-transparent:focus {
   color: #D5D5D5;
}

/* catalog-main-content */

.catalog-main-content h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.catalog-main-content-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.catalog-main-content-img{
  width: 11px;
  height: 10px;
}

.catalog-main-content-list ul {
  list-style: none;
  opacity: 0.3;
  cursor: pointer;
}
.catalog-main-content-list ul:hover {
  opacity: 0.6;
}
.catalog-main-content-list ul:active {
  opacity: 1;
}


/* catalog-main-content */

.catalog-wrapper-sedona {
  display: none;
}
.catalog-wrapper img:hover ~ .catalog-wrapper-sedona {
  display: block;
}

.catalog-wrapper-pink {
  display: none;
}
.catalog-wrapper img:hover ~ .catalog-wrapper-pink {
  display: block;
}

.catalog-wrapper-barbershop {
  display: none;
}
.catalog-wrapper img:hover ~ .catalog-wrapper-barbershop {
  display: block;
}

.catalog-wrapper-mishka {
  display: none;
}
.catalog-wrapper img:hover ~ .catalog-wrapper-mishka {
  display: block;
}

.catalog-wrapper-plus {
  display: none;
}
.catalog-wrapper img:hover ~ .catalog-wrapper-plus {
  display: block;
}

.catalog-wrapper-kvast {
  display: none;
}
.catalog-wrapper img:hover ~ .catalog-wrapper-kvast {
  display: block;
}

/* main-content-number */

/* .catalog-wrapper-number ul {
  list-style: none;
} */
.number-list {
  list-style: none;
}
.number-item {
width: 50px;
height: 50px;
background-color: red;
border: 3px solid #DBDBDB;
text-align: center;
}
.number-item a {
  color: #000000;
  line-height: 18px;
}

.number-item a:hover {
  color: #00CA74;
}

.number-item-next  {
  background-color: yellow;
  width: 260px;
  height: 50px;
  text-align: center;
}
