/*fonts шрифт*/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/roboto.woff2") format("woff2"),
        url("../fonts/web/roboto.woff") format("woff");
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/robotomedium.woff2") format("woff2"),
        url("../fonts/web/robotomedium.woff") format("woff");
        font-weight: 700;
        font-style: normal;
}

/*variavles цвета*/

:root {
    --basic-black: #000000;
    --basic-red  : #FB565A;
    --basic-green: #00CA74;
    --basic-yellow:#EFC84A;
    --basic-gray:  #4D4D4D;
    --basic-white: #ffffff;
    --basic-gray-shining: #283136;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto",Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

}

img {
  max-width: 100%;
  height: auto;
}

/*main navigation*/

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent; /*может и нет*/
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}


/*что  то должно быть*/


/*user navigation*/

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: var(--basic-red);
}

/*features*/



/* info */

.info-title {
  font-size: 55px;
  line-height: 55px;
}

.info-list {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-gray-shining);
}

.info-button {
  font-size: 16px;
  line-height: 18px;
  background-color: #FB565A;
}

.info-button a {
  color: var(--basic-white);
}






